Save cost by deleting idle image 'splunk'.
Save cost by deleting idle image 'cr-jenkins-worker-images'.
//compute.googleapis.com/projects/cr-devsecops-356707/global/images/splunk
//compute.googleapis.com/projects/cr-devsecops-356707/global/images/cr-jenkins-worker-images
null
null
DELETE_IMAGE
DELETE_IMAGE